
<div class="card border-secondary mb-3 post">
    <a href="/post/{{user.id}}">
        <div class="card-header">
            <h3>{{title}}</h2>
            <h5 class="username">{{user.name}}</h5>
            <h5 class="date">{{format_time createdAt}}</h5>
        </div>
        <div class="card-body text-secondary">
            <p class="card-text">{{content}}</p>
        </div> 
    </a>
</div>
